#nvBck{
    background-color: black;
}
#home{
    color: white;
    font-weight: bold;
}
#about{
    color:rgb(151, 151, 151);
}
#projects{
    color:rgb(151, 151, 151);
}
#skills{
    color:rgb(151, 151, 151);
}
#contact{
    color:rgb(151, 151, 151);
}