#nvBck{
    background-color: black;
}
#home{
    color: white;
    font-weight: bold;
}
#aboutN{
    color:rgb(151, 151, 151);
}
#projectsN{
    color:rgb(151, 151, 151);
}
#skillsN{
    color:rgb(151, 151, 151);
}
#contactN{
    color:rgb(151, 151, 151);
}
@media only screen and (max-width: 600px) {
    .navText{
        font-size: 12px;
    }
}